mat-card {
  align-items: flex-start;
  padding: 1rem;
}

mat-form-field {
  align-self: stretch;
}

button {
  justify-self: flex-start;
  margin: 1rem;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
